PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/smart_community_security
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
DEFAULT_ALERT_RADIUS_KM=1.5
ADMIN_SIGNUP_CODE=change_this_admin_invite_code
